<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>HTML Video Automator - Dropbox Demo Template</title>
  <meta name="description" content="HTML Video Automator Dropbox">
  <meta name="author" content="Loïc Cattani, loic.cattani@gmail.com">
  
  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../css/styles.css">
  
  <!-- Google Font API -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Lobster' rel='stylesheet' type='text/css'>
  
  <!-- Modernizr: enables HTML5 elements & feature detects -->
  <script src="../js/libs/modernizr-1.6.min.js"></script>
  
</head>
<body lang="en">
  
  <header>
    <h1>HTML Video Automator</h1>
  </header>
  
  <div id="main" role="main">
        
    <section id="dropbox">
      <h3>Dropbox</h3>
      
      <form action="<%= script_url %>" method="POST" accept-charset="utf-8">
        <table border="0" cellspacing="5" cellpadding="5">
          <tr>
            <th></th>
            <th>File</th>
            <th title="Valid video document">Valid</th>
            <th>Video size</th>
            <th>Duration</th>
            <th>File size</th>
          </tr>
<% videos.each do |video| %>
          <tr>
            <td><input type="checkbox" name="hashes" value="<%= video.digest %>" id="file_<%= video.digest %>"></td>
            <td><label for="file_<%= video.digest %>"><%= video.filename %></label></td>
<% if video.valid? %>
            <td class="done">Done</td>
<% else %>
            <td class="failed">Failed</td>
<% end %>
            <td><%= video.size[:width].to_s + "&times;" + video.size[:height].to_s %></td>
            <td><%= video.duration %></td>
            <td><%= video.filesize %></td>
          </tr>
<% end %>
<% if videos.empty? %>
          <tr>
            <td></td>
            <td>No files found</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
<% end %>
        </table>
        <p><input type="submit" value="Automate selection" <%= if videos.empty? then 'disabled' end %>></p>
      </form>
    </section>
    
  </div>
  
  <footer>
    <a href="http://www.w3.org/html/logo/">
      <img src="../images/html5-badge-css3-multimedia-semantics.png" alt="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics" title="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics">
    </a>
    <a href="http://p.yusukekamiyamane.com/" title="Icons by Yusuke Kamiyamane">Icons</a>
    <a href="http://unil.ch">
      <img src="../images/logo-unil.png" alt="University of Lausanne" title="Made in Unicom, University of Lausanne">
    </a>
  </footer>
  
  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-19466870-3'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  
</body>
</html>
