<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>HTML Video Automator - Job #<%= job_id %> Report</title>
  <meta name="description" content="HTML Video Automator Job Report">
  <meta name="author" content="Loïc Cattani, loic.cattani@gmail.com">
  
  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="css/styles.css">
  
  <!-- Google Font API -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Lobster' rel='stylesheet' type='text/css'>
  
  <!-- Modernizr: enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.6.min.js"></script>
  
</head>
<body lang="en">
  
  <header>
    <hgroup>
      <h1>HTML Video Automator</h1>
      <h2>Job Report</h2>
    </hgroup>
  </header>
  
  <div id="main" role="main">
        
    <section id="report">
      <h3>Job #<%= job_id %></h3>
      
<% if report_type == :in_progress %>
      <div id="status" class="in_progress">
        <p>
          <strong>Working hard!</strong><br>
          Hold on please...
        </p>
      </div>
<% else %>
      <div id="status" class="finished">
        <p>
          <strong>Done!</strong><br>
          Will take a nap...
        </p>
      </div>
<% end %>
      
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>File</th>
          <th title="Valid video document">Valid</th>
          <th title="MPEG-4 AVC (H.264/AAC) encoded document">MPEG4</th>
          <th title="WebM (VP8/Theora) encoded document">WebM</th>
          <th title="Poster image document">Poster</th>
          <th title="HTML document">HTML</th>
          <th title="Documents published">Publish</th>
          <th title="Documents archived">Archive</th>
          <th>Info</th>
        </tr>
<% videos.each do |video| %>        <tr>
          <td><%= video.filename %></td>
<%   video.tasks.each do |task,status| 
       case status
       when :unknown %>
          <td></td>
<%     when :working %>          
          <td class="working">Working</td>
<%     when :failed %>          
          <td class="failed">Failed</td>
<%     when :done %>
          <td class="done">Done</td>
<%     end
     end
     
     if video.tasks.count == video.tasks.count{|task,status| status == :done} %>
          <td><a href="<%= "#{pub_url}/#{video.name}.html" %>" title="See the work done!">Done!</a></td>
<%   elsif video.tasks.count == video.tasks.count{|task,status| status == :unknown} %>
          <td>Waiting...</td>
<%   elsif video.tasks.count{|task,status| status == :failed} > 0 %>
          <td>Failed: <%= video.fail_reason %></td>
<%   elsif report_type == :final %>          
          <td>Aborted</td>
<%   else %>          
          <td>In Progress...</td>
<%   end %>
        </tr>
<% end %>
      </table>
      <p>Elapsed: <%= elapsed %></p>
    </section>
  </div>
  
  <footer>
    <a href="http://www.w3.org/html/logo/">
      <img src="images/html5-badge-css3-multimedia-semantics.png" alt="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics" title="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics">
    </a>
    <a href="http://p.yusukekamiyamane.com/" title="Icons by Yusuke Kamiyamane">Icons</a>
    <a href="http://unil.ch">
      <img src="images/logo-unil.png" alt="University of Lausanne" title="Made in Unicom, University of Lausanne">
    </a>
  </footer>
  
  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-19466870-3'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  
</body>
</html>
