/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main styles */

body {
  width: 900px;
  margin: 0 auto;
  color: #fff;
  background: #222 url(../images/bg.jpg) fixed;
  font-family: 'Droid Sans', arial, serif;
}

.cssgradients body {
  background-color: #222;
  background-image: -moz-radial-gradient(center 45deg, circle farthest-side, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 150%), url(../images/bg.jpg) ;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(rgba(0,0,0,0)), to(rgba(0,0,0,.8))), url(../images/bg.jpg) ;
  background-image: radial-gradient(center 45deg, circle farthest-side, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 150%), url(../images/bg.jpg) ;
  background-attachment: fixed;
}

header {
  margin: 3em 0;
  text-align: center;
  font-family: Lobster, arial, serif;
  text-shadow: 0px 0px 3px rgb(255,255,255), 0px -1px 20px rgb(255,0,255);
  /* Transform */
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  /* Transition */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header:hover {
  text-shadow: 0px 0px 3px rgb(255,255,255), 0px -8px 120px rgb(255,0,255);
}

footer {
  width: 720px;
  margin: 1em auto;
  text-align: right;
  opacity: 0.3;
  /* Transitions */
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

footer:hover {
  opacity: 1;
}

footer a {
  float: right;
  height: 32px;
  margin-left: 1em;
}

footer a[title] {
  font-size: 16px;
  padding: 7px 0;
}

footer a[href='http://unil.ch'] {
  float: left;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

#main {
  width: 640px;
  margin: 0 auto;
  padding: 40px 40px 25px 40px;
  background-color: rgba(0,0,0,0.3);
  /* Border Radius */
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

#main p {
  color: #999;
  font-size: 13px;
  margin-bottom: 7px;
}

#main.video p, #main.video h2 {
  color: #fff;
  opacity: 0.3;
  /* Transitions */
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#main.video h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#main.video p:hover, #main.video h2:hover {
  opacity: 1;
}

.video-js-box {
  margin: 0 auto 10px auto;
  /* Box Shadow */
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

a:link,
a:visited {
  color: #999;
  /* Transitions */
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

a:hover,
a:active {
  color: #fff;
  text-shadow: 0px 0px 2px rgb(255,255,255);
}

#main>section {
  margin-bottom: 15px;
}

small {
  font-size: 10px;
}

table {
  width: 640px;
  margin-bottom: 10px;
}

tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.05);
}

tr:first-child {
  background-color: rgba(255,255,255,0.1);
  border-bottom: 1px rgba(255,255,255,0.3) solid;
}

th {
  text-align: left;
}

td, th {
  padding: 3px 4px;
}

#dropbox td:first-child,
#dropbox th:first-child {
  width: 20px;
}

#dropbox label {
  color: #999;
  /* Transitions */
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#dropbox label:hover {
  color: #fff;
  text-shadow: 0px 0px 2px rgb(255,255,255);
}

#dropbox p {
  text-align: right;
}

#report td:first-child,
#report th:first-child {
  width: 220px;
}

#report th:nth-child(2), #report td:nth-child(2),
#report th:nth-child(3), #report td:nth-child(3),
#report th:nth-child(4), #report td:nth-child(4),
#report th:nth-child(5), #report td:nth-child(5),
#report th:nth-child(6), #report td:nth-child(6),
#report th:nth-child(7), #report td:nth-child(7),
#report th:nth-child(8), #report td:nth-child(8) {
  width: 16px;
  max-width: 16px;
  height: 16px;
  text-indent: 9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#report th:nth-child(2) { background-image: url('../images/icons/film.png'); }
#report th:nth-child(3) { background-image: url('../images/icons/document-attribute-m.png'); }
#report th:nth-child(4) { background-image: url('../images/icons/document-attribute-w.png'); }
#report th:nth-child(5) { background-image: url('../images/icons/document-image.png'); }
#report th:nth-child(6) { background-image: url('../images/icons/document-globe.png'); }
#report th:nth-child(7) { background-image: url('../images/icons/globe.png'); }
#report th:nth-child(8) { background-image: url('../images/icons/server.png'); }

#report td.working { background-image: url('../images/icons/navigation.png'); }
#report td.done { background-image: url('../images/icons/tick-circle.png'); }
#report td.failed { background-image: url('../images/icons/exclamation-red.png'); }

#status {
  position: relative;
  top: -30px;
  left: 200px;
  width: 180px;
  padding: 10px 20px;
  text-align: center;
  /* Border Radius */
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  /* Transition */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#status.in_progress {
  /* Box Shadow */
  -webkit-box-shadow: 0px 0px 20px rgb(224,120,28), inset 0px 0px 3px rgb(255,255,255);
  -moz-box-shadow: 0px 0px 20px rgb(224,120,28), inset 0px 0px 3px rgb(255,255,255);
  box-shadow: 0px 0px 20px rgb(224,120,28), inset 0px 0px 3px rgb(255,255,255);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,171,62)), to(rgb(224,120,28)));
}

#status.in_progress:hover {
  /* Box Shadow */
  -webkit-box-shadow: 0px 0px 60px rgb(224,120,28), inset 0px 0px 5px rgb(255,255,255);
  -moz-box-shadow: 0px 0px 60px rgb(224,120,28), inset 0px 0px 5px rgb(255,255,255);
  box-shadow: 0px 0px 60px rgb(224,120,28), inset 0px 0px 5px rgb(255,255,255);
}

#status.final {
  /* Box Shadow */
  -webkit-box-shadow: 0px 0px 20px rgb(25,171,60), inset 0px 0px 3px rgb(255,255,255);
  -moz-box-shadow: 0px 0px 20px rgb(25,171,60), inset 0px 0px 3px rgb(255,255,255);
  box-shadow: 0px 0px 20px rgb(25,171,60), inset 0px 0px 3px rgb(255,255,255);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(78,207,108)), to(rgb(25,171,60)));
}

#status.final:hover {
  /* Box Shadow */
  -webkit-box-shadow: 0px 0px 60px rgb(25,171,60), inset 0px 0px 5px rgb(255,255,255);
  -moz-box-shadow: 0px 0px 60px rgb(25,171,60), inset 0px 0px 5px rgb(255,255,255);
  box-shadow: 0px 0px 60px rgb(25,171,60), inset 0px 0px 5px rgb(255,255,255);
}

#status p {
  color: rgba(0,0,0,0.4);
  font-style: italic;
  line-height: 160%;
  margin: 7px 0 0 0;
}

#status strong {
  font-size: 28px;
  font-style: normal;
  font-family: Lobster, arial, serif;
  color: rgb(255,255,255);
  text-shadow: -1px -1px 2px rgba(0,0,0,0.2);
}
