# This should be specified in the Apache site configuration file
AddHandler cgi-script .rb
Options +ExecCGI

# Réecriture d'URL
# /dropbox/* -> /dropbox/test.rb
RewriteEngine On
RewriteBase /dropbox

# On laisse passer les fichiers images, css et js
RewriteCond %{REQUEST_URI} !\.png$
RewriteCond %{REQUEST_URI} !\.js$
RewriteCond %{REQUEST_URI} !\.css$

RewriteRule . job-launcher.rb
